services:
  mongodb:
    image: mongo:8.0
    container_name: pokemmo-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_USERNAME:-pokemmo}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_PASSWORD:-pokemmo_local_dev}
      MONGO_INITDB_DATABASE: pokemmo_raids
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    networks:
      - pokemmo-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  raidbook:
    image: ghcr.io/p1utoze/${IMAGE_NAME:-pokemmoraids}:${LATEST_TAG:-latest}
    container_name: pokemmo-raidbook
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_USERNAME:-pokemmo}:${MONGO_INITDB_PASSWORD:-pokemmo_local_dev}@mongodb:27017/?authSource=admin"
      MONGO_DB: ${MONGO_DB:-pokemmo_raids}
      ADMIN_DB: "${ADMIN_DB:-/app/data/users.db}"
      DATA_PATH: "${DATA_PATH:-/app/data/bosses.json}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD:-adminpass}"
      SMTP_HOST: "${SMTP_HOST:-smtp.example.com}"
      SMTP_USER: "${SMTP_USER:-}"
      SMTP_PORT: "${SMTP_PORT:-587}"
      SMTP_PASSWORD: "${SMTP_PASSWORD:-}"
      SMTP_FROM: "${SMTP_FROM:-}"
    volumes:
      - ./data:/app/data
    networks:
      - pokemmo-network
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  mongodb_data:
  mongodb_config:

networks:
  pokemmo-network:
    driver: bridge