name: Build and Run Docker on EC2

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV

      - name: Build and push the image
        run : |
          docker login --username p1utoze --password ${{ github.token }} ghcr.io
          docker build . --tag ghcr.io/p1utoze/pokemmoraids:$LATEST_TAG
          docker push ghcr.io/p1utoze/pokemmoraids:$LATEST_TAG

  deploy:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: read
  
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
  
      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV
  
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
            -u ${{ github.actor }} \
            --password-stdin
  
      - name: Pull image
        run: |
          sudo docker pull ghcr.io/p1utoze/pokemmoraids:$LATEST_TAG
  
      - name: Stop existing container
        run: |
          if sudo docker ps -q -f name=raids; then
            sudo docker stop raids
            sudo docker rm raids
          fi
  
      - name: Run container
        run: |
          sudo docker run -d \
            --name raids \
            -p 80:8080 \
            -e ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }} \
            --restart unless-stopped \
            ghcr.io/p1utoze/pokemmoraids:$LATEST_TAG
