name: Build and Run Docker on EC2

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_NAME: pokemmoraids
  
jobs:
  build_and_publish:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.LATEST_TAG }}
          

      # - name: Build and push the image
      #   run : |
      #     echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      #     docker buildx build . --platform linux/arm64 \
      #       --tag ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$LATEST_TAG
            
      #     docker push ghcr.io/${{ github.repository_owner}}/$IMAGE_NAME:$LATEST_TAG
          

  deploy:
    runs-on: self-hosted
    needs: [build_and_publish]
    env:
      SMTP_HOST: ${{ vars.SMTP_HOST }}
      SMTP_USER: ${{ vars.SMTP_USER }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      SMTP_FROM: ${{ vars.SMTP_FROM }}
      MONGO_INITDB_USERNAME: ${{ vars.MONGO_INITDB_USERNAME }}
      MONGO_INITDB_PASSWORD: ${{ secrets.MONGO_INITDB_PASSWORD }}
    permissions:
      contents: read
      packages: read
  
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
  
      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV
  
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
  
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.LATEST_TAG }}
      # - name: Pull image
      #   run: |
      #     docker pull ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$LATEST_TAG
        
      - name: Run containers
        run: |
          docker compose -f docker-compose.yml down || true
          sleep 5; docker compose -f docker-compose.yml up -d