name: Build and Run Docker on EC2

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_NAME: pokemmoraids
  
jobs:
  build_and_publish:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV

      - name: Build and push the image
        run : |
          echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker build . --tag ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$LATEST_TAG
          docker push ghcr.io/${{ github.repository_owner}}/$IMAGE_NAME:$LATEST_TAG
          

  deploy:
    runs-on: self-hosted
    needs: [build_and_publish]
    permissions:
      contents: read
      packages: read
  
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
  
      - name: Fetch latest tag
        run: |
          git fetch --tags
          latest_tag="$(git tag -l --sort=-v:refname | head -n 1)"
          git checkout "$latest_tag"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV
  
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_PAT }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
  
      - name: Pull image
        run: |
          sudo docker pull ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$LATEST_TAG
  
      - name: Stop existing container
        run: |
          if sudo docker ps -q -f name=raids; then
            sudo docker stop raids
            sudo docker rm raids
          fi
  
      - name: Run container
        run: |
          sudo docker run -d \
            --name raids \
            -p 80:8080 \
            -e ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }} \
            --restart unless-stopped \
            ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$LATEST_TAG
